@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #f2f2f2;
}

.logo {
  justify-self: start;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  width: 100%;
  height: 80px;
  justify-self: center;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  text-align: center;
  width: 160px;
  height: 20px;
  margin-right: 10px;
}

button {
  height: 24px;
  width: 80px;
}

.display {
  position: relative;
  visibility: hidden;
  display: flex;
  flex-direction: row;
}
.display .card {
  position: relative;
  width: 320px;
  height: 450px;
  background-color: #8EBF9F;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.display .card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #EBEFF2;
  opacity: 0.4;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}
.display .card:hover:before {
  clip-path: circle(300px at 80% -20%);
}
.display .card:hover .imageContainer {
  top: 0;
  transform: translateY(0);
}
.display .card:hover .cardContent {
  height: 210px;
}
.display .card:hover .cardContent .id {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}
.display .card:hover .cardContent .moves {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}
.display .card:after {
  content: "POKÉMON";
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 6rem;
  font-weight: 800;
  font-style: italic;
  color: rgba(255, 255, 25, 0.05);
  transform: translate(-50%, -50%) rotate(25deg);
}
.display .card .imageContainer {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}
.display .card .imageContainer img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 180px;
}
.display .card .cardContent {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: left;
  transition: 1s;
  z-index: 10;
}
.display .card .cardContent h1 {
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;
  margin: 0;
}
.display .card .cardContent .id,
.display .card .cardContent .moves {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 16px;
}
.display .card .cardContent .id h2,
.display .card .cardContent .moves h2 {
  width: 30%;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.display .card .cardContent .id span {
  width: auto;
  height: auto;
  padding: 0 6px;
  text-align: center;
  line-height: 26px;
  font-size: 12px;
  display: inline-block;
  color: #111;
  background: #fff;
  border-radius: 4px;
}
.display .card .cardContent .moves span {
  width: 70%;
  height: auto;
  padding: 0 6px;
  text-align: center;
  line-height: 26px;
  font-size: 12px;
  display: inline-block;
  color: #111;
  background: #fff;
  border-radius: 4px;
}

/*# sourceMappingURL=style.css.map */
